/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ededed;
}

/* Header */
.contenedor-img{
    width: 100%;
}

.imagen-circulo{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0px auto;
    margin-top: 50px;
}

.titulo{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

.sub-titulo{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

/* Grid-layout */
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 20px;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2; 
}
.div2 {
    grid-area: 1 / 2 / 2 / 3; 
}
.div3 { 
    grid-area: 2 / 1 / 3 / 2; 
}
.div4 { 
    grid-area: 2 / 2 / 3 / 3; 
}
.div5 { 
    grid-area: 3 / 1 / 4 / 2; 
}
.div6 { 
    grid-area: 3 / 2 / 4 / 3; 
}

.titulo-producto{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.titulo-seccion{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 40px;
}

.imagen{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 32px 32px 32px 0px rgba(0, 0, 0, 0.307);
}

/* Footer */
footer{
    background-color: #b0b0b0;
    margin-top: 100px;
}

.img-footer{
    width: 150px;
    height: 150px;
    margin: 20px 20px 20px 60px;
}
.parent1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div3 { grid-area: 1 / 1 / 2 / 2; }
.div4 { 
    grid-area: 1 / 2 / 2 / 3; 
    display: flex;
    align-items: center;
}
.div5 { 
    grid-area: 1 / 3 / 2 / 4;  
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.info-fotter{
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: 600;
}

/* Boton whatsapp */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/* media querys */
@media only screen and (max-width: 960px) {
    .imagen-circulo{
        width: 100px;
        height: 100px;
    }
    .titulo{
        font-size: 25px;
    }

    .titulo-producto{
        font-size: 15px;
    }

    .parent{
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    .div1, .div2, .div3, 
    .div4, .div5, .div6{
        width: 100%;
    }

    .imagen{
        width: 200px;
        height: 200px;
    }

    .titulo-seccion{
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
    .img-footer{
        display: none;
    }
    .info-fotter{
        width: 100%;
        font-size: 15px;
    }

    .div5{
        font-size: 15px;
    }
}