/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ededed;
}

/* Header */

.imagen-circulo{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0px auto;
    margin-top: 50px;
}

.titulo{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.sub-titulo{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

/* Grid-layout */
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 20px;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2; 
}
.div2 {
    grid-area: 1 / 2 / 2 / 3; 
}
.div3 { 
    grid-area: 2 / 1 / 3 / 2; 
}
.div4 { 
    grid-area: 2 / 2 / 3 / 3; 
}
.div5 { 
    grid-area: 3 / 1 / 4 / 2; 
}
.div6 { 
    grid-area: 3 / 2 / 4 / 3; 
}

p{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}

.imagen{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 32px 32px 32px 0px rgba(0, 0, 0, 0.307);
}

/* Footer */
footer{
    background-color: #b0b0b0;
    margin-top: 100px;
}

.img-footer{
    width: 150px;
    height: 150px;
    margin: 20px 20px 20px 60px;
}
.parent1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div3 { grid-area: 1 / 1 / 2 / 2; }
.div4 { grid-area: 1 / 2 / 2 / 3; }
.div5 { 
    grid-area: 1 / 3 / 2 / 4;  
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.info-fotter{
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}